.container {
  background-color: white;
  margin-top: 2rem;
  font-size: 18px;
}

.table_head {
  background-color: rgb(31 41 55 / 1);
}

.table_row:hover {
  background-color: rgba(246, 247, 248, 0.5);
}
