.main_title {
  display: flex;
  justify-content: space-between;
}

.title_page {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.title_page p {
  font-size: 20px;
  font-weight: bold;
}

.icon_style {
  width: 20px;
}
.search_create {
  display: flex;
  gap: 1rem;
}

.action {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
