.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 30px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .userMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  color: var(--admin-color);
}

.logo {
  img {
    width: 80px;
    object-fit: cover;
  }
}

.notification {
  cursor: pointer;
}
.countItemCart {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.iconNotification {
  position: relative;
}
