.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 400;
}
.tabContainer {
  width: 1280px;
}
.tabLabel {
  width: 33%;
  color: black;
}
