.infoContainer {
  margin: 20px 0;
}

.infoGroup {
  display: flex;
  gap: 30px;
}


.dateInput input {
  height: auto !important;
}

.action_buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}