.container {
  padding: 35px 0;
}

.categories {
  background: #f3f4f6;
  width: 100%;
  margin-top: -30px;
  border-bottom: 1px solid rgb(187, 182, 182);
  padding-bottom: 30px;
}

.categoriesBody {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Center the buttons horizontally */
  gap: 12px; /* Space between each button */
  padding: 20px 0; /* Padding for top and bottom spacing */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.bestSellerProduct {
  padding: 30px 0;
}

.bestSellerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically centers content */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.text {
  display: flex;
  flex-direction: column; /* Ensures the header and description stack vertically */
}

.outlined{
    padding: 10px;
    gap: 10px;
}

.moreProductBtn {
    border: 1px solid #bebebe;
    background: transparent;
}