.tabList {
  display: flex;
  height: 50px;
  align-items: center;
}

.tabItem {
  color: rgba(0, 0, 0, 0.6);
  padding: 10px 30px;
  text-align: center;
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tabItem.active {
  color: #000000;
  border-bottom: 3px solid #000000;
  font-weight: 500;
}
