.container{
    margin-top: 2rem;
    display: flex;
    gap: 2rem
}
.row{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.container_left{
    width: 35%;
}

.container_right{
    width: 65%;
}

.image_now, .sub_image{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.sub_image{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}
.main_list_image{
    position: relative;
}

.button:hover{
    display: block;
    width: max-content;
    height: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 4;
}

.list_image{
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    display: flex;
    gap: 0.7rem !important;
}

.show{
    opacity: 0.8;
}

.show:hover{
    opacity: 1;
}

.hidden{
    display: none !important;
}

.selected{
    border-radius: 8px;
    border: 3px solid orange;
}