.container{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.container_left{
    width: 25%;
    margin-top: 2rem;
}
.container_right{
    width: 65%;
}
.row{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.row_end{
    display: flex;
    justify-content: end;
}

.row_name {
    display: flex;
}

.icon {
    margin-right: 5px;
    display: flex;
}

p {
    color: gray;
    margin-top: 0.5rem;
}